USE [master]
GO
/****** Object:  Database [CreateFormDB]    Script Date: 5/28/2023 10:31:37 PM ******/
CREATE DATABASE [CreateFormDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CreateFormDB', FILENAME = N'C:\Users\moham\CreateFormDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CreateFormDB_log', FILENAME = N'C:\Users\moham\CreateFormDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CreateFormDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CreateFormDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/28/2023 10:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 5/28/2023 10:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Age] [tinyint] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[Country] [nvarchar](20) NOT NULL,
	[City] [nvarchar](20) NOT NULL,
	[Street] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230525082726_Intial', N'6.0.16')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230528175338_PersonConfiguration', N'6.0.16')
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([Id], [Name], [Age], [Email], [Phone], [Country], [City], [Street]) VALUES (8, N'Yosef', 20, N'Yosef@Yosef.com', N'36952454785', N'Egypt', N'Giza', N'Dokky1')
INSERT [dbo].[Persons] ([Id], [Name], [Age], [Email], [Phone], [Country], [City], [Street]) VALUES (10, N'Ahmed', 21, N'Ahmed@Ahmed.com', N'12369587454', N'Egypt', N'Cairo', N'Haram')
INSERT [dbo].[Persons] ([Id], [Name], [Age], [Email], [Phone], [Country], [City], [Street]) VALUES (11, N'Ali', 22, N'Ali@Ali.com', N'31546552365', N'Egypt', N'Giza', N'October')
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
USE [master]
GO
